/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2016, 1:50:56 PM
    Author     : frien, Khoi Le
*/
body{
    background: black;
}
h1{
    color: white;
}
p{
    color: white;
}
.btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #c7bdff);
  background-image: -moz-linear-gradient(top, #ffffff, #c7bdff);
  background-image: -ms-linear-gradient(top, #ffffff, #c7bdff);
  background-image: -o-linear-gradient(top, #ffffff, #c7bdff);
  background-image: linear-gradient(to bottom, #ffffff, #c7bdff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 11px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}
#red {
    background-color: red;
    height: 25px;
    width: 25px;
}
#orange {
    background-color: orange;
    height: 25px;
    width: 25px;
}
#yellow {
    background-color: yellow;
    height: 25px;
    width: 25px;
}
#blue{
    background-color: blue;
    height: 25px;
    width: 25px;
}
#green{
    background-color: green;
    height: 25px;
    width: 25px;
}
#purple{
    background-color: purple;
    height: 25px;
    width: 25px;
}
